/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * mport this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../../app/stylesheets/screen.sass */
body {
  padding: 0;
  height: 100%;
}

/* line 12, ../../../app/stylesheets/screen.sass */
#musicbar {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 140px;
}
/* line 19, ../../../app/stylesheets/screen.sass */
#musicbar #player {
  margin: 20px auto 20px auto;
  width: 400px;
  vertical-align: top;
}
/* line 23, ../../../app/stylesheets/screen.sass */
#musicbar #player #info {
  width: 400px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
}
/* line 29, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #song_title {
  font-size: 22px;
}
/* line 31, ../../../app/stylesheets/screen.sass */
#musicbar #player #progress {
  margin-top: 8px;
}
/* line 33, ../../../app/stylesheets/screen.sass */
#musicbar #player #progress #gutter {
  display: inline-block;
  width: 400px;
  height: 10px;
}
/* line 37, ../../../app/stylesheets/screen.sass */
#musicbar #player #progress #timeleft {
  position: absolute;
  right: 6px;
  font-size: 9px;
  vertical-align: top;
  z-index: 1000000;
}
/* line 43, ../../../app/stylesheets/screen.sass */
#musicbar #player #progress #timeleft.white {
  color: white;
}
/* line 45, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons {
  width: 130px;
  margin: 8px auto 0 auto;
}
/* line 48, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a {
  display: inline-block;
}
/* line 50, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button {
  vertical-align: middle;
  width: 46px;
  height: 45px;
  background: url('/images/buttons.png?1290376934');
}
/* line 55, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button:hover {
  background: url('/images/buttons.png?1290376934') 0 -45px;
}
/* line 57, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button:hover:active {
  background: url('/images/buttons.png?1290376934') 0 -90px;
}
/* line 59, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button.paused {
  background: url('/images/buttons.png?1290376934') 0 -135px;
}
/* line 61, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button.paused:hover {
  background: url('/images/buttons.png?1290376934') 0 -180px;
}
/* line 63, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button.paused:hover:active {
  background: url('/images/buttons.png?1290376934') 0 -225px;
}
/* line 65, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip {
  width: 38px;
  height: 37px;
  vertical-align: middle;
}
/* line 69, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#next_song {
  background: url('/images/buttons.png?1290376934') 0 -270px;
}
/* line 71, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#next_song:hover {
  background: url('/images/buttons.png?1290376934') 0 -307px;
}
/* line 73, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#next_song:hover:active {
  background: url('/images/buttons.png?1290376934') 0 -344px;
}
/* line 75, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#previous_song {
  background: url('/images/buttons.png?1290376934') 0 -381px;
}
/* line 77, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#previous_song:hover {
  background: url('/images/buttons.png?1290376934') 0 -418px;
}
/* line 79, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#previous_song:hover:active {
  background: url('/images/buttons.png?1290376934') 0 -455px;
}

/* line 82, ../../../app/stylesheets/screen.sass */
#song_container #songs_head {
  width: 99%;
  height: 14px;
  position: absolute;
  top: 160px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
/* line 90, ../../../app/stylesheets/screen.sass */
#song_container #songs_head {
  -webkit-user-select: none;
}
/* line 92, ../../../app/stylesheets/screen.sass */
#song_container .field {
  overflow: hidden;
}
/* line 94, ../../../app/stylesheets/screen.sass */
#song_container .field.track {
  display: inline-block;
  width: 2%;
}
/* line 97, ../../../app/stylesheets/screen.sass */
#song_container .field.song_title {
  display: inline-block;
  width: 40%;
}
/* line 100, ../../../app/stylesheets/screen.sass */
#song_container .field.artist {
  display: inline-block;
  width: 29%;
}
/* line 103, ../../../app/stylesheets/screen.sass */
#song_container .field.album {
  display: inline-block;
  width: 28%;
}
/* line 106, ../../../app/stylesheets/screen.sass */
#song_container #songs_body {
  position: absolute;
  top: 180px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
}
/* line 113, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song {
  padding: 4px 6px 4px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
  width: 99.1%;
}
/* line 119, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.odd {
  background-color: #f4f4f4;
}
/* line 121, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.odd.selected {
  background-color: #007abc;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  color: white;
}
/* line 125, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.even {
  background-color: white;
}
/* line 127, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.even.selected {
  background-color: #007abc;
  color: white;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
