/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 15, ../../../app/stylesheets/screen.sass */
html {
  padding: 0;
  margin: 0;
}

/* line 18, ../../../app/stylesheets/screen.sass */
body {
  padding: 0;
}

/* line 20, ../../../app/stylesheets/screen.sass */
.ui-selected {
  background: #a3cae0;
  color: white;
}

/* line 23, ../../../app/stylesheets/screen.sass */
#musicbar {
  color: #646464;
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 150px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e6e6e6), color-stop(10%, #dcdcdc), color-stop(100%, #bebebe));
  background-image: -moz-linear-gradient(top, #e6e6e6 0%, #dcdcdc 10%, #bebebe 100%);
  background-image: linear-gradient(top, #e6e6e6 0%, #dcdcdc 10%, #bebebe 100%);
  z-index: 10;
}
/* line 35, ../../../app/stylesheets/screen.sass */
#musicbar #player {
  margin: 20px auto 20px auto;
  width: 800px;
  vertical-align: top;
}
/* line 39, ../../../app/stylesheets/screen.sass */
#musicbar #player #info {
  font-family: "museo-slab-1", "museo-slab-2", serif;
  width: 800px;
  display: inline-block;
  font-size: 14px;
  height: 78px;
  vertical-align: top;
  text-align: center;
  line-height: 16px;
  font-weight: 300;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, #313131 0px -1px 0;
}
/* line 50, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #song_title {
  line-height: 26px;
  font-size: 22px;
}
/* line 53, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #progress {
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-top: 8px;
}
/* line 57, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #progress #duration {
  display: inline-block;
  font-size: 9px;
  line-height: 13px;
  vertical-align: top;
}
/* line 62, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #progress #gutter {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}
/* line 66, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #progress #gutter.ui-widget-content {
  background: none;
  border: none;
}
/* line 69, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #progress #gutter.ui-slider-horizontal {
  height: 5px;
  background: url("../images/slider_h_bg.gif") 0px 0px repeat-x;
}
/* line 72, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #progress #gutter .ui-slider-range {
  top: 0;
  height: 100%;
  background: url("../images/slider_h_bg.gif") 0px -5px repeat-x;
}
/* line 76, ../../../app/stylesheets/screen.sass */
#musicbar #player #info #progress #timeleft {
  display: inline-block;
  font-size: 9px;
  line-height: 13px;
  vertical-align: top;
}
/* line 81, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons {
  width: 130px;
  margin: 0 auto 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* line 86, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a {
  display: inline-block;
}
/* line 88, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button {
  vertical-align: middle;
  width: 46px;
  height: 37px;
  background: url('/images/buttons.png?1291435751');
}
/* line 93, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button:hover {
  background: url('/images/buttons.png?1291435751') 0 -37px;
}
/* line 95, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button:hover:active {
  background: url('/images/buttons.png?1291435751') 0 -74px;
}
/* line 97, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button.paused {
  background: url('/images/buttons.png?1291435751') 0 -111px;
}
/* line 99, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button.paused:hover {
  background: url('/images/buttons.png?1291435751') 0 -148px;
}
/* line 101, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a#play_button.paused:hover:active {
  background: url('/images/buttons.png?1291435751') 0 -185px;
}
/* line 103, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip {
  width: 38px;
  height: 37px;
  vertical-align: middle;
}
/* line 107, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#next_song {
  background: url('/images/buttons.png?1291435751') 0 -222px;
}
/* line 109, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#next_song:hover {
  background: url('/images/buttons.png?1291435751') 0 -259px;
}
/* line 111, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#next_song:hover:active {
  background: url('/images/buttons.png?1291435751') 0 -296px;
}
/* line 113, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#previous_song {
  background: url('/images/buttons.png?1291435751') 0 -333px;
}
/* line 115, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#previous_song:hover {
  background: url('/images/buttons.png?1291435751') 0 -370px;
}
/* line 117, ../../../app/stylesheets/screen.sass */
#musicbar #player #buttons a.skip#previous_song:hover:active {
  background: url('/images/buttons.png?1291435751') 0 -407px;
}

/* line 119, ../../../app/stylesheets/screen.sass */
#song_container {
  font-family: "gesta-1", "gesta-2", sans-serif;
  font-weight: 500;
  font-size: 13px;
  position: absolute;
  background-color: #bebebe;
  top: 150px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #333333;
}
/* line 131, ../../../app/stylesheets/screen.sass */
#song_container #songs_head {
  background-color: #f4f4f4;
  padding: 0px 6px 6px 6px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: 20px;
  right: 20px;
  bottom: 0px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 143, ../../../app/stylesheets/screen.sass */
#song_container #songs_head .field {
  height: 16px;
}
/* line 145, ../../../app/stylesheets/screen.sass */
#song_container .field {
  height: 18px;
  line-height: 18px;
}
/* line 148, ../../../app/stylesheets/screen.sass */
#song_container .field.track {
  display: inline-block;
  width: 18px;
  text-align: right;
  padding-right: 2px;
}
/* line 153, ../../../app/stylesheets/screen.sass */
#song_container .field.song_title {
  display: inline-block;
  overflow: hidden;
  width: 420px;
}
/* line 157, ../../../app/stylesheets/screen.sass */
#song_container .field.artist {
  display: inline-block;
}
/* line 159, ../../../app/stylesheets/screen.sass */
#song_container .field.album {
  display: inline-block;
  width: 380px;
}
/* line 162, ../../../app/stylesheets/screen.sass */
#song_container #songs_body {
  position: absolute;
  top: 26px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 170, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song {
  min-width: 940px;
  padding: 3px 6px 3px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}
/* line 176, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.even {
  background-color: #f4f4f4;
}
/* line 178, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.even.ui-selecting {
  background: #a3cae0;
  color: white;
}
/* line 181, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.even.ui-selected {
  background: #a3cae0;
  color: white;
}
/* line 184, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.odd {
  background-color: white;
}
/* line 186, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.odd.ui-selecting {
  background: #a3cae0;
  color: white;
}
/* line 189, ../../../app/stylesheets/screen.sass */
#song_container #songs_body .song.odd.ui-selected {
  background: #a3cae0;
  color: white;
}
