/* Welcome to Compass.
 In this file you should write your main styles. (or centralize your imports)
 mport this file using the following HTML or equivalent:
 <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/
@import "compass/reset"
@import "compass/css3"
$coolblue: #007ABC

body
  padding: 0
  height: 100%
#musicbar
  position: relative
  top: 0px
  left: 0px
  right: 0px
  width: 100%
  height: 140px
  #player
    margin: 20px auto 20px auto
    width: 400px
    vertical-align: top
    #info
      width: 400px
      display: inline-block
      font-size: 14px
      vertical-align: top
      text-align: center
      #song_title
        font-size: 22px
    #progress
      margin-top: 8px
      #gutter
        display: inline-block
        width: 400px
        height: 10px
      #timeleft
        position: absolute
        right: 6px
        font-size: 9px
        vertical-align: top
        z-index: 1000000
        &.white
          color: #FFFFFF
    #buttons
      width: 130px
      margin: 8px auto 0 auto
      a
        display: inline-block
        &#play_button
          vertical-align: middle
          width: 46px
          height: 45px
          background: sprite-image("buttons/play_normal.png")
          &:hover
            background: sprite-image("buttons/play_focused.png")
            &:active
              background: sprite-image("buttons/play_highlighted.png")
          &.paused
            background: sprite-image("buttons/pause_normal.png")
            &:hover
              background: sprite-image("buttons/pause_focused.png")
              &:active
                background: sprite-image("buttons/pause_highlighted.png")
        &.skip
          width: 38px
          height: 37px
          vertical-align: middle
          &#next_song
            background: sprite-image("buttons/next_normal.png")
            &:hover
              background: sprite-image("buttons/next_focused.png")
              &:active
                background: sprite-image("buttons/next_highlighted.png")
          &#previous_song
            background: sprite-image("buttons/previous_normal.png")
            &:hover
              background: sprite-image("buttons/previous_focused.png")
              &:active
                background: sprite-image("buttons/previous_highlighted.png")
#song_container
  #songs_head
    width: 99%
    height: 14px
    position: absolute
    top: 160px
    left: 0px
    right: 0px
    bottom: 0px
  #songs_head
    -webkit-user-select: none
  .field
    overflow: hidden
    &.track
      display: inline-block
      width: 2%
    &.song_title
      display: inline-block
      width: 40%
    &.artist
      display: inline-block
      width: 29%
    &.album
      display: inline-block
      width: 28%
  #songs_body
    position: absolute
    top: 180px
    left: 0px
    right: 0px
    bottom: 0px
    overflow-y: auto
    .song
      padding: 4px 6px 4px 6px
      -webkit-user-select: none
      -moz-user-select: none
      cursor: default
      width: 99.1%
      &.odd
        background-color: #F4F4F4
        &.selected
          background-color: $coolblue
          +opacity(.7)
          color: #FFFFFF
      &.even
        background-color: #FFFFFF
        &.selected
          background-color: $coolblue
          color: #FFFFFF
          +opacity(.7)