/* Welcome to Compass.
 In this file you should write your main styles. (or centralize your imports)
 mport this file using the following HTML or equivalent:
 <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/
@import "compass/reset"
@import "compass/css3"
$coolblue: #007ABC
$grey: #ddd
$darkergrey: #ccc
$bodygrey: rgb(240, 240, 240)
$startgrey: rgb(230, 230, 230)
$endgrey: rgb(190, 190, 190)
$stopgrey: rgb(220, 220, 220)
$evenlightergrey: #eee
$lightestgrey: #eee
$albumheadgrey: #eeeeff
$linegrey: #ddd
html
  padding: 0
  margin: 0
body
  padding: 0
  //background: url("/images/back.png") repeat
#musicbar
  position: absolute
  top: 0px
  left: 0px
  right: 0px
  width: 100%
  height: 150px
  +linear-gradient(color-stops($startgrey,$stopgrey 10%, $endgrey))
  //border-bottom: 1px solid $stopgrey
  z-index: 10
  #player
    margin: 20px auto 20px auto
    width: 800px
    vertical-align: top
    #info
      font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",serif
      width: 800px
      display: inline-block
      font-size: 14px
      height: 78px
      vertical-align: top
      text-align: center
      line-height: 15px
      #song_title
        line-height: 24px
        font-size: 22px
      #progress
        margin-top: 8px
        #gutter
          display: inline-block
          width: 400px
          height: 10px
        #timeleft
          position: absolute
          right: 6px
          font-size: 9px
          line-height: 10px
          vertical-align: top
          z-index: 1000000
          &.white
            color: #FFFFFF
    #buttons
      width: 130px
      margin: 0 auto 0 auto
      -webkit-user-select: none
      -moz-user-select: none
      a
        display: inline-block
        &#play_button
          vertical-align: middle
          width: 46px
          height: 37px
          background: sprite-image("buttons/play_normal.png")
          &:hover
            background: sprite-image("buttons/play_focused.png")
            &:active
              background: sprite-image("buttons/play_highlighted.png")
          &.paused
            background: sprite-image("buttons/pause_normal.png")
            &:hover
              background: sprite-image("buttons/pause_focused.png")
              &:active
                background: sprite-image("buttons/pause_highlighted.png")
        &.skip
          width: 38px
          height: 37px
          vertical-align: middle
          &#next_song
            background: sprite-image("buttons/next_normal.png")
            &:hover
              background: sprite-image("buttons/next_focused.png")
              &:active
                background: sprite-image("buttons/next_highlighted.png")
          &#previous_song
            background: sprite-image("buttons/previous_normal.png")
            &:hover
              background: sprite-image("buttons/previous_focused.png")
              &:active
                background: sprite-image("buttons/previous_highlighted.png")
#song_container
  font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",sans-serif
  font-size: 12px
  line-height: 18px
  position: absolute
  +linear-gradient(color-stops($endgrey,$stopgrey 10%, $startgrey))
  top: 150px
  left: 0px
  right: 0px
  bottom: 0px
  #songs_head
    background-color: #F4F4F4
    padding: 3px 6px 5px 6px
    height: 16px
    position: absolute
    top: 4px
    left: 20px
    right: 20px
    bottom: 0px
    overflow: hidden
    -webkit-user-select: none
  .field
    &.track
      display: inline-block
      width: 18px
      text-align: right
      padding-right: 2px
    &.song_title
      display: inline-block
      overflow: hidden
      width: 420px
    &.artist
      display: inline-block
    &.album
      display: inline-block
      width: 380px
  #songs_body
    position: absolute
    top: 26px
    left: 20px
    right: 20px
    bottom: 40px
    overflow-y: auto
    overflow-x: hidden
    .song
      min-width: 940px
      padding: 3px 6px 3px 6px
      -webkit-user-select: none
      -moz-user-select: none
      cursor: default
      &.even
        background-color: #F4F4F4
        &.selected
          background-color: $coolblue
          +opacity(.7)
          color: #FFFFFF
      &.odd
        background-color: #FFFFFF
        &.selected
          background-color: $coolblue
          color: #FFFFFF
          +opacity(.7)