-#encoding: UTF-8
#audio
  %audio#audio
#musicbar
  #player
    #info
      #song_title
      #artist
      #album
    #progress
      #gutter
        #handle
        #timeleft
    #buttons
      %a#previous_song{:href => '#prev'}
      %a#play_button{:href => '#play'}
      %a#next_song{:href => '#next'}
#song_container
  %table#songs
    %thead
      %tr
        %th
        %th Title
        %th Album
        %th Artist
    %tbody
      - for album in @albums
        -for song in album.songs.sort!{|t1,t2|t1.track <=> t2.track}
          %tr{:id => dom_id(song),:data => {:s3_key => song.s3_key}, :class => cycle(:odd, :even)}
            %td.track= song.track
            %td.song_title= song.title
            %td.album= album.title
            %td.artist= album.artist